<h1>All Images</h1>
<%= link_to 'Add new image', new_image_path %><br>
<h5>
  Showing images with tag: <%= @tag %>
</h5>
<%= simple_form_for :selected_tag, url: images_path, method: "GET" do |f| %>
  <%= f.input :tag_id, label: 'Filter by tag', collection: ['None'].concat(@tags.map(&:name)), 
      selected: @tag %>
  <%= f.submit "Filter", class: "btn btn-primary" %>
<% end %>
<div class="images__wrapper">
  <% @images.each do |image| %>
    <div class="card">
      <%= image_tag image.url, class: "card-img-top image__container" %>
      <div class="card-body">
        <h5 class="card-title">
          <% if image.tag_list.empty?%>
            No tags
          <% else %>
            Tags: <%= image.tag_list %>
          <% end %>
        </h5>
      </div>
    </div>
  <% end %>
</div>
